/* #region基础设置start */
.container{
    width: 1190px;
    height: 500px;
    margin: 0 auto;
    color: #666666;
}
/* #endregion基础设置end */

/* #region顶部导航条start */
.topbar{
    height: 90px;
    padding-top: 33px;
    background-color: #ECECEC;
    border-bottom: #DD302D 2px solid;
}
.welcome{
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666666;
}
.welcome span,.welcome a{
    font-size: 24px;
}
.welcome .hello{
    margin-right: 28px;
}
.welcome .username{
    padding-right: 10px;
    border-right: 1px solid #666666;
}
.welcome .userexit{
    padding-left: 10px;
}
.topbar-nav .list li{
    float: left;
    font-size: 24px;
}
.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li a{
    padding: 0 15px;
    border-right: 1px solid black;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}
/* #endregion顶部导航条end */

/* #region主要内容区侧边start */
.main-content{
    margin-top: 10px;
}

.main-content .slide-filtrate{
    width: 350px;
    height: 500px;
    background-color:#ECECEC;
}

.main-content .slide-filtrate li{
    font-size: 14px;
    line-height: 100px;
    padding-left: 16px;
    border-bottom: 1px solid black;
}

.main-content .slide-filtrate li div{
    height: 100px;
    color: #666666;
}

.main-content .slide-filtrate .slide-time:hover,.slide-date:hover{
    cursor: pointer;
}

.main-content .slide-filtrate .slide-time,.slide-date,.silde-enrollment-content,.silde-theme-content{
    color: #DD302D;
}

.main-content .slide-submit{
    width: 40px;
    height: 40px;
    margin-left: 135px;
    margin-top: 10px;
    color: #666666;
}

.main-content .slide-submit:hover{
    cursor: pointer;
    color: #DD302D;
}
/* #endregion主要内容区侧边end */

/* #region主要内容区右边start */
.main-content .right-rooms{
    width: 830px;
    height: 500px;
    margin-left: 10px;
    background-color: #ECECEC;
    /* 为二级菜单开启相对定位 */
    position: relative;
}

#room-notice{
    height: 39px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-bottom: black solid 1px;
}


.room-pictures{
    height: 450px;
    overflow-y: scroll;
}

.rooms{
    margin: 10px 35px;
    height: 200px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.room-pictures>span:nth-child(-n+3){
    margin-top: 20px;
}

.room-button{
    color:#666666;
}

.room-button:hover{
    color: #DD302D;
    cursor: pointer;
}

/* #endregion主要内容区右边end */

/* #region会议室详情start */

.room-specific{
    position: absolute;
    width: 830px;
    height: 500px;
    top: 0;
    background-color:#ECECEC;
    display: none;
}

#room-script{
    font-size: 24px;
    height: 199px;
    border-bottom: solid black 1px;
}

#room-script li{
    height: 50px;
    line-height: 50px;
    text-align:center;
}

.room-label{
    height: 50px;
}

.room-label-content{
    height: 28px;
    width: 200px;
    color: #DD302D;
}

.specific-picture{
    margin: 10px 23px;
}

#specific-picture1{
    margin-left: 46px;
}

.select-button{
    text-align: center;
    margin-top: 40px;
}

.select-button input{
    width: 40px;
    height: 40px;
    color: #666666;
}

.select-button input:hover{
    color: #DD302D;
    cursor: pointer;
}

#select-button-submit{
    margin-right: 60px;
}
/* #endregion会议室详情end */

/* #region预约start */
.appointment{
    position: absolute;
    width: 830px;
    height: 500px;
    top: 0;
    font-size: 12px;
    color: #666666;
    background-color:#ECECEC;
    display: none;
    overflow: auto;
}

.appointment table{
    border: 0;
    width: 812px;
    height: 500px;
    text-align: center;
}

.appointment table tr{
    height: 50px;
    table-layout: fixed;
}


.appointment input{
    color: #666666;
}

.appointment input:hover{
    color: #DD302D;
    cursor: pointer;
}


/* #endregion预约end */

